In [78]:
import numpy as np
import pandas as pd
import requests
import urllib.request
import time
import json
from bs4 import BeautifulSoup
# website datasets are stored as API (application programming interface)
# APIs are used to retrieve information from any major website
# API in json format needs to be converted to dictionaries, which can be converted to dataframes

In [79]:
url = 'https://api.exchangeratesapi.io/latest'
r = requests.get(url)
print(r.text)

{"rates":{"CAD":1.5617,"HKD":8.4945,"ISK":155.6,"PHP":55.865,"DKK":7.4674,"HUF":360.02,"CZK":27.312,"AUD":1.7967,"RON":4.8283,"SEK":11.0613,"IDR":17869.24,"INR":82.8985,"BRL":5.7001,"RUB":85.9486,"HRK":7.6255,"JPY":118.9,"THB":35.925,"CHF":1.0585,"SGD":1.5633,"PLN":4.5506,"BGN":1.9558,"TRY":7.2063,"CNY":7.7784,"NOK":11.51,"NZD":1.8417,"ZAR":19.6095,"USD":1.0956,"MXN":26.1772,"ILS":3.9018,"GBP":0.88643,"KRW":1341.03,"MYR":4.733},"base":"EUR","date":"2020-03-31"}

In [80]:
r = requests.get(url,params = {'base':'USD'})
print(r.text)

{"rates":{"CAD":1.4161682074,"HKD":7.7541236179,"ISK":139.8404930216,"PHP":50.9298531811,"DKK":6.7669929309,"HUF":325.1042233098,"CZK":24.7553017945,"GBP":0.805691499,"RON":4.3753851731,"SEK":10.0031720138,"IDR":16393.0034439007,"INR":75.6751857894,"BRL":5.1215334421,"RUB":79.8790103317,"HRK":6.911818017,"JPY":108.1566068515,"THB":32.6998368679,"CHF":0.9580387892,"EUR":0.9062896502,"MYR":4.3326083016,"BGN":1.7725212978,"TRY":6.5683342396,"CNY":7.0996012326,"NOK":10.5934384629,"NZD":1.6680261011,"ZAR":17.8798259924,"USD":1.0,"MXN":23.7864781584,"SGD":1.4257748777,"AUD":1.6332245786,"ILS":3.5838317926,"KRW":1224.8685880007,"PLN":4.124433569},"base":"USD","date":"2020-03-30"}

In [81]:
type(r.text)
# current json file consists of string datatypes which need to be converted to dictionary

str

In [82]:
# json.loads() converts json to dictionary
json_dict = json.loads(r.text)
json_dict

{'rates': {'CAD': 1.4161682074,
  'HKD': 7.7541236179,
  'ISK': 139.8404930216,
  'PHP': 50.9298531811,
  'DKK': 6.7669929309,
  'HUF': 325.1042233098,
  'CZK': 24.7553017945,
  'GBP': 0.805691499,
  'RON': 4.3753851731,
  'SEK': 10.0031720138,
  'IDR': 16393.0034439007,
  'INR': 75.6751857894,
  'BRL': 5.1215334421,
  'RUB': 79.8790103317,
  'HRK': 6.911818017,
  'JPY': 108.1566068515,
  'THB': 32.6998368679,
  'CHF': 0.9580387892,
  'EUR': 0.9062896502,
  'MYR': 4.3326083016,
  'BGN': 1.7725212978,
  'TRY': 6.5683342396,
  'CNY': 7.0996012326,
  'NOK': 10.5934384629,
  'NZD': 1.6680261011,
  'ZAR': 17.8798259924,
  'USD': 1.0,
  'MXN': 23.7864781584,
  'SGD': 1.4257748777,
  'AUD': 1.6332245786,
  'ILS': 3.5838317926,
  'KRW': 1224.8685880007,
  'PLN': 4.124433569},
 'base': 'USD',
 'date': '2020-03-30'}

In [83]:
# extract just rates
rates_json = json.loads(r.text)['rates']
rates_json

{'CAD': 1.4161682074,
 'HKD': 7.7541236179,
 'ISK': 139.8404930216,
 'PHP': 50.9298531811,
 'DKK': 6.7669929309,
 'HUF': 325.1042233098,
 'CZK': 24.7553017945,
 'GBP': 0.805691499,
 'RON': 4.3753851731,
 'SEK': 10.0031720138,
 'IDR': 16393.0034439007,
 'INR': 75.6751857894,
 'BRL': 5.1215334421,
 'RUB': 79.8790103317,
 'HRK': 6.911818017,
 'JPY': 108.1566068515,
 'THB': 32.6998368679,
 'CHF': 0.9580387892,
 'EUR': 0.9062896502,
 'MYR': 4.3326083016,
 'BGN': 1.7725212978,
 'TRY': 6.5683342396,
 'CNY': 7.0996012326,
 'NOK': 10.5934384629,
 'NZD': 1.6680261011,
 'ZAR': 17.8798259924,
 'USD': 1.0,
 'MXN': 23.7864781584,
 'SGD': 1.4257748777,
 'AUD': 1.6332245786,
 'ILS': 3.5838317926,
 'KRW': 1224.8685880007,
 'PLN': 4.124433569}

In [84]:
type(rates_json)

dict

In [85]:
# print base values
print(rates_json['GBP'])
gbp = float(rates_json['GBP'])
print('200USD = ',str(gbp*200),'GBP')

0.805691499
200USD =  161.1382998 GBP

In [86]:
# save dictionary into a variable
rates = [(rates_json)]

In [87]:
# create dataframe from dictionary
rates_df = pd.DataFrame(rates)
rates_df

,CAD,HKD,ISK,PHP,DKK,HUF,CZK,GBP,RON,SEK,...,NOK,NZD,ZAR,USD,MXN,SGD,AUD,ILS,KRW,PLN
0,1.416168,7.754124,139.840493,50.929853,6.766993,325.104223,24.755302,0.805691,4.375385,10.003172,...,10.593438,1.668026,17.879826,1.0,23.786478,1.425775,1.633225,3.583832,1224.868588,4.124434

In [88]:
rates_df1 = rates_df.transpose()
rates_df1

                0
CAD      1.416168
HKD      7.754124
ISK    139.840493
PHP     50.929853
DKK      6.766993
HUF    325.104223
CZK     24.755302
GBP      0.805691
RON      4.375385
SEK     10.003172
IDR  16393.003444
INR     75.675186
BRL      5.121533
RUB     79.879010
HRK      6.911818
JPY    108.156607
THB     32.699837
CHF      0.958039
EUR      0.906290
MYR      4.332608
BGN      1.772521
TRY      6.568334
CNY      7.099601
NOK     10.593438
NZD      1.668026
ZAR     17.879826
USD      1.000000
MXN     23.786478
SGD      1.425775
AUD      1.633225
ILS      3.583832
KRW   1224.868588
PLN      4.124434

In [89]:
rates_df1.index

Index(['CAD', 'HKD', 'ISK', 'PHP', 'DKK', 'HUF', 'CZK', 'GBP', 'RON', 'SEK',
       'IDR', 'INR', 'BRL', 'RUB', 'HRK', 'JPY', 'THB', 'CHF', 'EUR', 'MYR',
       'BGN', 'TRY', 'CNY', 'NOK', 'NZD', 'ZAR', 'USD', 'MXN', 'SGD', 'AUD',
       'ILS', 'KRW', 'PLN'],
      dtype='object')

In [90]:
rates_df1.reset_index(inplace=True)
rates_df1

   index             0
0    CAD      1.416168
1    HKD      7.754124
2    ISK    139.840493
3    PHP     50.929853
4    DKK      6.766993
5    HUF    325.104223
6    CZK     24.755302
7    GBP      0.805691
8    RON      4.375385
9    SEK     10.003172
10   IDR  16393.003444
11   INR     75.675186
12   BRL      5.121533
13   RUB     79.879010
14   HRK      6.911818
15   JPY    108.156607
16   THB     32.699837
17   CHF      0.958039
18   EUR      0.906290
19   MYR      4.332608
20   BGN      1.772521
21   TRY      6.568334
22   CNY      7.099601
23   NOK     10.593438
24   NZD      1.668026
25   ZAR     17.879826
26   USD      1.000000
27   MXN     23.786478
28   SGD      1.425775
29   AUD      1.633225
30   ILS      3.583832
31   KRW   1224.868588
32   PLN      4.124434

In [91]:
rates_df1.rename(columns={'index':'Country', 0:'Exchange_rate'}) # didnt work not sure why
rates_df1

   index             0
0    CAD      1.416168
1    HKD      7.754124
2    ISK    139.840493
3    PHP     50.929853
4    DKK      6.766993
5    HUF    325.104223
6    CZK     24.755302
7    GBP      0.805691
8    RON      4.375385
9    SEK     10.003172
10   IDR  16393.003444
11   INR     75.675186
12   BRL      5.121533
13   RUB     79.879010
14   HRK      6.911818
15   JPY    108.156607
16   THB     32.699837
17   CHF      0.958039
18   EUR      0.906290
19   MYR      4.332608
20   BGN      1.772521
21   TRY      6.568334
22   CNY      7.099601
23   NOK     10.593438
24   NZD      1.668026
25   ZAR     17.879826
26   USD      1.000000
27   MXN     23.786478
28   SGD      1.425775
29   AUD      1.633225
30   ILS      3.583832
31   KRW   1224.868588
32   PLN      4.124434